# ======================
# VARIABLES DE ENTORNO
# ======================
.env
.env.*

# ======================
# DATASETS / DATA
# ======================
dataset/

# ======================
# ARCHIVOS PESADOS
# ======================
*.csv
*.parquet
*.h5
*.pt
*.onnx
*.zip

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
venv/
.venv/

# ======================
# LOGS
# ======================
*.log

# ======================
# DOCKER
# ======================
*.tar

# ======================
# VS CODE
# ======================
.vscode/

# ======================
# SISTEMA
# ======================
.DS_Store
Thumbs.db
